<DOCTYPE html>
    <html lang="en-us">
        <head>
            <meta charset = "UTF-8">
            <title>Book Look</title>
              <!--  Bring in our bootstrap stylesheet -->
            <link rel="stylesheet" href="./bootstrap.min.css" > 
            <link rel="stylesheet" href="./style.css" > 
    
        </head>
        
         <body>
            <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
                <div class = "container">
                    
                        <a class="navbar-brand navigate" href="index.html">Book Look</a>
                 

                    
                
                    </div>
                </div>
            </nav>
    
            <div class = "container">
                <div class ="row topspace">
                    <h2>
                        Welcome to Book Look 
                    </h2>
                    <hr>
                    </hr>
                    <h4>
                    The one stop shop to find or share a favourite used Book
                    </h4>
                </div>
                <div class="row spacing">
                    <div class = "col-6 " >
                        <h3>
                           Find a Book to Borrow
                        </h3>   
                    </div>
                    <div class = "col-4 " >
                        <button type="button" class="btn btn-secondary">
                            <a href="Getform.html">Get Book</a>
                        </button>
                    </div>
                </div>
                <div class ="row spacing">
                    <div class = "col-6">
                        <h3>
                            Sharing is Caring
                         </h3>
                    </div>
                    <div class = "col-4 " >
                         <button type="button" class="btn btn-secondary">
                            <a href="Shareform.html">Share Book</a>
                         </button>
                    </div>
                </div>
            </div>

        
        </body>
        
    </html> 