<DOCTYPE html>
    <html lang="en-us">
        <head>
            <meta charset = "UTF-8">
            <title>Book Look</title>
              <!--  Bring in our bootstrap stylesheet -->
            <link rel="stylesheet" href="./bootstrap.min.css" > 
            <link rel="stylesheet" href="./style.css" > 
    
        </head>
        
         <body>
            <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
                <div class = "container">
                    
                        <a class="navbar-brand" href="index.html">Book Look</a>
                 

                    
                
                    </div>
                </div>
            </nav>
    
            <div class = "container">
                <div class="row">
                    <div class = "col-8 " >
                        <h3>
                           Click if you would like to Find a Book to Borrow
                        </h3>
                    </div>
                    <div class = "col-4 " >
                        <button type="button" class="btn btn-primary">
                            <a href="Getform.html">Get Book</a>
                        </button>
                    </div>
                </div>
                <div class ="row">
                    <div class = "col-8">
                        <h3>
                            Click if you have a Book you would like to Loan
                         </h3>
                         <button type="button" class="btn btn-success">
                             Share Book
                         </button>
                    </div>
                </div>
            </div>

        
        </body>
        
    </html> 