<DOCTYPE html>
    <html lang="en-us">
        <head>
            <meta charset = "UTF-8">
            <title>Book Look</title>
              <!--  Bring in our bootstrap stylesheet -->
            <link rel="stylesheet" href="./bootstrap.min.css" > 
            <link rel="stylesheet" href="./style.css" > 
    
        </head>
        
         <body>
            <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
                <div class = "container">
                    
                        <a class="navbar-brand  navigate" href="index.html">Book Look</a>
                 

                
                    </div>
                </div>
            </nav>
    
<!--Section to have API call results show to allow the user to select-->


            <form method="POST" action="/send" role="form", name="bookinfo">
                <div class="form-group midline">
                    <label for="inputName">Book Title</label>
                    <input type="text" class="form-control" id="inputName" name="bookName" placeholder="Name">
                </div>
                <div class="form-group midline">
                    <label for="inputName">Your Email</label>
                    <input type="text" class="form-control" id="inputName" name="useremail" placeholder="Name">
                </div>
                <div class="form-group midline">
                    <label for="inputName">Your Postal Code</label>
                    <input type="text" class="form-control" id="inputName" name="bookloc" placeholder="Name">
                </div>
                <div class = "midline">
                    <input type="submit" value="submit" class="btn btn-default">
                </div>
            </form>
        



                    
        </body>
        
    </html> 